* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
}

/**************** hero-section *****************/
#hero-sec {
    background: url(../images/Header.png);
    width: 1440px;
    height: 100%;
    background-repeat: no-repeat;
}

.container1 {
    padding: 0 118px;
}

.main-navbar {
    display: flex;
    justify-content: space-between !important;
    padding-top: 35px;
}

header {
    width: 1205px;
    height: 54px;
}

.logo-img {
    width: 165px;
    height: 54px;
}

.sec-menu {
    width: 470px;
    height: 29px;
}

.sec-menu ul {
    display: flex;
    justify-content: space-between;
}

.sec-menu ul li a {
    color: #fff !important;
    font-size: 18px;
    font-weight: 400;
    line-height: 10px;
}

.btns .login-btn {
    width: 91px;
    height: 42px;
    border: 1px solid #fff;
    border-radius: 63px;
    padding: 6px 21px;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-right: 10px;
}

.btns .trial-btn {
    width: 145px;
    height: 42px;
    border: 1px solid #fff;
    border-radius: 21px;
    background-color: #fff;
    color: #012939;
    font-size: 16px;
    font-weight: 400;
}

.bg-img .bgimg1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 352px;
    height: 999px;
}

.bg-img .bgimg2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 773px;
    height: 999px;
}

.estimate-data {
    margin-top: 120px;
}

.estimate-data h1 {
    /* width: 963px; */
    margin: 0 228px;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    text-align: center;
    color: #fff;
}

.estimate-data p {
    /* width: 1025px; */
    /* margin: 0 135px; */
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    color: #fff;
}

.estimate-data button {
    /* width: 168px;
    height: 48px; */
    display: block;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 8px 15px;
    border-radius: 41px;
    font-weight: 400;
    font-size: 16px;
    border: 1px solid #fff;
}

.estimate-data span {
    font-size: 16px;
    font-weight: 400;
}

.estimate-data button a {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: #017edf;
    border-radius: 50%;
    margin-left: 15px;
}

.estimate-data button a i {
    /* width: 7px;
    height: 7.5px; */
    font-size: 12px;
    color: #fff;
    padding: 5px;

}

.logo-img1 {
    display: flex;
    justify-content: space-between;
    margin: 0 222px;
}

.logo-img1 img {
    height: 50px;
    /* background-color: grey; */
}

.logo-img1 .logo1 {
    width: 143px;
}

.logo-img1 .logo2 {
    width: 166px;
}

.dashb {
    text-align: center;
}

.aboutUs {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin: 0 79px 0 125px;
}

.ab-data {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 535px;
}

.ab-data h2 {
    font-size: 44px;
    font-weight: 600;
    line-height: 64px;
    color: #012939;
}

.ab-data p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #012939;
}

.ab-data button {
    width: 140px;
    height: 50px;
    border-radius: 25px;
    background-color: #0074D9;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    border: none;
}

.aboutUs img {
    height: 710px;
}

/**************** rovolut ***************/
.rovolut {
    width: 1440px;
    height: 100%;
}

.rovolut h2 {
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    color: #012939;
    width: 830px;
    height: 120px;
    margin: 0 auto;
}

.rovolut p {
    font-family: Open Sans, Helvetica;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    width: 1100px;
    height: 68px;
    color: #012939;
    margin: 0 auto;
}

.rovolut .btn-bar {
    width: 868px;
    height: 48px;
    margin: 30px auto 40px auto;
    display: flex;
    justify-content: space-between;
}

.rovolut .btn-bar button {
    border-radius: 100px;
    border: 1px solid #718096;
    color: #718096;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 18px 10px 18px;
    background-color: transparent;
}

.rovolut h4 {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: #0074D9;
}

.rovolut h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 46px;
    color: #012939;
    width: 420px;
    height: 105px;

}

.rovolut h6 {
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    color: #012939;
    width: 480px;
    height: 160px;
}

.rovolut .readM {
    display: block;
    width: 140px;
    height: 50px;
    border-radius: 25px;
    background-color: #0074D9;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    border: none;
    margin: 50px auto 130px auto;
}

/**************Why Section**************/

#why-sec {
    width: 1440px;
    height: 850px;
    background: #EFF6FD;
    padding-top: 86px;
    padding-bottom: 86px;
}

#why-sec h2 {
    font-size: 44px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    color: #012939;
    margin-bottom: 72px;
}

#why-sec .icon-data {
    display: flex;
    margin-bottom: 45px;
}

#why-sec .icon-data img {
    width: 64px;
    height: 64px;
    margin-right: 24px;
}

#why-sec .icon-data h5 {
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.20000000298023224px;
    color: #012939;
}

#why-sec .icon-data p {
    font-family: Open Sans, Helvetica;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #5A7184;
    width: 482px;
    height: 232px;

}